 <div class="c-col disabled" id="mutation-results-section">
  <div class="section-title bg-warning text-white">
    <i data-col-id="mutation-results-section" data-active=false class="fas fa-plus"></i>        
    <h1>Mutation Results</h1>
  </div>
  <div class="section-content hide">
    <h2>Mutation Results</h2>
    <div id="stat-cards">
      <div id="total-count" class="card bg-warning mb-3 stat-card" >
        <div class="card-header">Total Mutations</div>
        <div class="card-body"></div>
      </div>

      <div id="valid-mutant-count" class="card bg-warning mb-3 stat-card" >
        <div class="card-header">Valid Mutations</div>
        <div class="card-body"></div>
      </div>

      <div id="something-count" class="card bg-warning mb-3 stat-card" >
        <div class="card-header">Something else</div>
        <div class="card-body">:)</div>
      </div>
    </div>
    <div id="mutant-analysis-options">
      <button type="button" class="btn btn-warning btn-lg btn-block btnViewSource">View Source</button>
      <button type="button" class="btn btn-warning btn-lg btn-block" id="btnViewMutants">View Mutants</button>
        <hr>
        <button type="button" class="btn btn-warning btn-lg btn-block" id="btnRunAxe">Run Axe</button>
    </div>
  </div>
</div>