<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/html-header") %>
    <script src="/javascripts/home.js"></script>
    <script src="/javascripts/Chart.bundle.min.js"></script>

    <title>Blinky: Web Mutation Testing</title>
  </head>

  <body>
    <div class="c-container">
      <div class="c-row">
         <div class="c-col left-col">
         </div>

         <div class="c-col active-col">
          <div class="c-col" id="source-section">
            <div class="section-title bg-primary text-white">
              <i data-col-id="source-section" data-active=true class="fas fa-minus"></i>
              <h1>Source</h1>
            </div>

            <div class="section-content">
              <h2>Choose Source</h2>
                <div data-source-choice=1 class="card source-choice text-white bg-primary mb-3">
                  <div class="card-body">
                    <h3 class="card-title">Testbench Source</h3>
                    <p class="card-text">This is the designed testbench which has viable elements to trigger every mutation.</p>
                  </div>
                </div>

                
                <div data-source-choice=2 class="card source-choice bg-light mb-3" disabled>
                  <div class="card-body">
                    <h3 class="card-title">HTML File Upload</h3>
                    <form>
                      <div class="form-group">
                        <label for="exampleInputFile">File:</label>
                        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                        <small id="fileHelp" class="form-text">Only .html files are excepted</small>
                      </div>
                    </form>
                  </div>
                </div>

                <div data-source-choice=3 class="card source-choice bg-light mb-3" disabled>
                  <div class="card-body">
                    <h3 class="card-title">URL Source Download</h3>
                    <form>
                      <div class="form-group">
                        <label for="url-download">URL:</label>
                        <input type="text" class="form-control" id="url-download" aria-describedby="urlHelp" placeholder="Enter url">
                        <small id="urlHelp" class="form-text">Use this URL to pull html source down for testing</small>
                      </div>
                    </form>
                  </div>
                </div>

                <button id="run-source" type="button" class="btn btn-primary">Run Selected Source</button>
            </div>
          </div>
        </div>

        <div class="c-col right-col">
          <div class="c-col disabled" id="mutate-section">
              <div class="section-title bg-info text-white">
                <i data-col-id="mutate-section" data-active=false class="fas fa-plus"></i>
                <h1>Analysis</h1>
              </div>
              
              <div class="section-content hide">
                <h2>Source Analysis</h2>
                  <div id="stat-cards">
                  <div id="mutant-count" class="card text-white bg-info mb-3 stat-card" >
                    <div class="card-header">Mutations Available</div>
                    <div class="card-body"></div>
                  </div>

                  <div id="violation-count" class="card text-white bg-info mb-3 stat-card" >
                    <div class="card-header">Existing Violations</div>
                    <div class="card-body">0</div>
                  </div>

                  <div id="source-valid" class="card text-white bg-info mb-3 stat-card float-left">
                    <div class="card-header">Source Valid HTML?</div>
                    <div class="card-body"></div>
                  </div>

                </div>
                <div id="source-analysis-options">
                  <button type="button" class="btn btn-info btn-lg btn-block" id="btnViewSource">View Source</button>
                  <button type="button" class="btn btn-info btn-lg btn-block" id="btnMutationSummary">View Mutation Summary</button>
                  <button type="button" class="btn btn-info btn-lg btn-block" id="btnViolationSummary">View Violations Summary</button>
                  <button type="button" class="btn btn-info btn-lg btn-block" id="btnValidationSummary">View Validation Summary</button>
                  <hr>
                  <button type="button" class="btn btn-info btn-lg btn-block" id="btnRunMutations">Run Mutations</button>
                </div>

            </div>
          </div>

          <div class="c-col disabled" id="mutation-results-section">
            <div class="section-title bg-warning text-white">
              <i data-col-id="mutation-results-section" data-active=false class="fas fa-plus"></i>        
              <h1>Mutation Results</h1>
            </div>
            <div class="section-content hide">
              <h2>Mutation Results</h2>
              <div id="stat-cards">
                <div id="total-count" class="card bg-warning mb-3 stat-card" >
                  <div class="card-header">Total Mutations</div>
                  <div class="card-body"></div>
                </div>

                <div id="valid-mutant-count" class="card bg-warning mb-3 stat-card" >
                  <div class="card-header">Valid Mutations</div>
                  <div class="card-body"></div>
                </div>

                <div id="something-count" class="card bg-warning mb-3 stat-card" >
                  <div class="card-header">Something else</div>
                  <div class="card-body">:)</div>
                </div>
              </div>
              <div id="mutant-analysis-options">
                <button type="button" class="btn btn-warning btn-lg btn-block" id="btnViewSource">View Source</button>
                <button type="button" class="btn btn-warning btn-lg btn-block" id="btnViewMutants">View Mutants</button>
                 <hr>
                  <button type="button" class="btn btn-warning btn-lg btn-block" id="btnRunAxe">Run Axe</button>
              </div>
            </div>
          </div>   

          <div class="c-col disabled" id="axe-results-section">
              <div class="section-title bg-danger text-white">
                <i data-col-id="axe-results-section" data-active=false class="fas fa-plus"></i>        
                <h1>Axe Results</h1>
              </div>
                        
              <div class="section-content hide">
                <h2>Axe Results</h2>
                 <div id="stat-cards">
                  <div id="total-violations" class="card bg-danger text-white mb-3 stat-card" >
                    <div class="card-header">Total Violations</div>
                    <div class="card-body">0</div>
                  </div>

                  <div id="total-live" class="card bg-danger text-white mb-3 stat-card" >
                    <div class="card-header">Killed Mutants</div>
                    <div class="card-body">0</div>
                  </div>

                  <div id="kill-score" class="card bg-danger text-white mb-3 stat-card" >
                    <div class="card-header">Killed</div>
                    <div class="card-body">0</div>
                  </div>
                </div>
          
                <div class="canvas-holder" style="position: relative; width:52vw">
                  <canvas id="categories-area"></canvas>
                </div>
              </div>

          </div>
        </div>
      
      
      </div>   
    </div>    
   
  </body>
</html>


