<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
  
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script src="/javascripts/Chart.bundle.min.js"></script>
    <title>Mutants Summary</title>
  </head>

  <body>
    <div class="container-fluid" style="margin-top:20px">
      <h1>Mutants Summary</h1>
      <%
       let html = '<div class="table-responsive">';
      html += '<table class="table table-hover">'
      html += '<thead><tr><th>id</th> <th>Name</th> <th>Description</th> <th>Class</th> <th>SC</th> <th>Valid</th> <th>View</th></tr></thead>';

      let sourceButton = '<button type="button" class="mutant-button btn btn-warning btn-sm" ' +
        'onClick="var win = window.open(\'' + mutatedSource.route + '\', \'_blank\');win.focus();">View</button>';

      html += '<tr><td></td> <td>Source</td> <td></td> <td></td> <td></td> <td></td> <td>' + sourceButton + '</td> ';

      for (var i in mutatedSource.mutants) {
        let mutantButton = '<button type="button" class="mutant-button btn btn-warning btn-sm" ' +
          'onClick="var win = window.open(\'' + mutatedSource.mutants[i].route + '\', \'_blank\');win.focus();">View</button>';
        html += '<tr><td>' + mutatedSource.mutants[i].mutation.id + '</td> <td>' + mutatedSource.mutants[i].mutation.name + '</td> <td>' + mutatedSource.mutants[i].mutation.description + '</td> <td>' + mutatedSource.mutants[i].mutation.class + '</td> <td>' + mutatedSource.mutants[i].mutation.successCriteria + '</td> <td>' + (mutatedSource.mutants[i].validity.messages.length == 0 ? "Yes" : "No") + '</td> <td>' + mutantButton + '</td> </tr>';
      }
      html += '</div>'
      %>
      <%-html%>
    </div>

  </body>
  </html>
