<!DOCTYPE html>
<html lang="en">

<head>
  <title>TestBench.v.0.0.2</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
</head>

<body>

  <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

  <div role="main" id="content" class="container">

    <h1>TestBench</h1>

    <h2>Images</h2>
    <!-- image -->
    <div>
      <img src="https://www.york.ac.uk/static/1.5/img/logo.svg" alt="University of York Logo" class="float-left" style="width:48%">
      <input type="image" src="https://www.york.ac.uk/static/1.5/img/logo.svg" alt="University of York Logo" class="float-right"
        style="width:48%">
    </div>
    <hr>


    <h3>Links</h3>
    <!-- links -->
    <div>
      <a href="#" id="link-a">This link has text</a>
      <a href="#" id="link-b" aria-label="link text"></a>

      <div id="linklabel">Text</div>
      <a href="#" id="link-c" aria-labelledby="linklabel"></a>
      <!-- -->

      <span role="link" href="#" id="link-d">This link has text</span>
      <span role="link" href="#" id="link-e" aria-label="link text"></span>
      <span role="link" href="#" id="link-f" aria-labelledby="linklabel"></span>
    </div>
    <hr>


    <h4>Aria Parent Children</h4>
    <!--Aria parent children-->
    <div>
      <div role="list" id="a">
        <div role="listitem" id="a-child">Item a</div>
      </div>

      <div role="list" id="b" aria-owns="b-child">
        <div role="listitem" id="b-child">Item b</div>
      </div>
    </div>

    <div aria-live="polite">Correct</div>

    <hr>

    <h5>Smallest Heading</h5>
    <p>Text</p>
    <hr>
    <!-- audio-video -->
    <h1>Media Tests </h1>
    <div>
      <h2>Video Test </h2>
      <video width="400" height="300" controls>
        <source src="/example_src/MIB2.mp4" type="video/mp4">
        <track src="/example_src/MIB2-subtitles-pt-BR.vtt" kind="subtitles" srclang="en" label="Spannish 1" />
        <track src="/example_src/MIB2-subtitles-pt-BR.vtt" kind="captions" srclang="en" label="Spannish 2" />
        <track src="/example_src/MIB2-subtitles-pt-BR.vtt" kind="descriptions" srclang="en" label="Spannish 3" />
      </video>

      <h2>Audio Test </h2>
      <audio controls>
        <source src="/example_src/sample.mp3" type="audio/mpeg">
        <track src="/example_src/MIB2-subtitles-pt-BR.vtt" kind="captions" srclang="en" label="TEST" /> Your browser does not support the audio tag.
      </audio>
    </div>
    <hr>


    <h1>buttons</h1>
    <!-- button-aria-label -->
    <h2>button-aria-label</h2>

    <div>
      <button aria-label="Close" onclick="myDialog.close()">X</button>
    </div>

    <h2>button</h2>
    <!-- button -->
    <div>
      <button id="button">Test</button>
    </div>

    <hr>


    <h1>Image Area</h1>
    <!-- image-area -->
    <div>
      <map name="primary">
        <area shape="circle" coords="75,75,75" href="left.html" alt="Click to go Left">
        <area shape="circle" coords="275,75,75" href="right.html" alt="Click to go Right">
      </map>
      <img usemap="#primary" src="http://placehold.it/350x150" alt="350 x 150 pic">

    </div>

    <hr>


    <!-- labels -->
    <h1>Labels</h1>
    <div>
      <form action="#">
        <!-- aria label -->
        <input type="text" aria-label="label" id="inputa">
        <select aria-label="label" id="selecta"></select>
        <textarea aria-label="label" id="textareaa"></textarea>

        <!-- aria labelledby -->
        <label id="labelbya">Label</label>
        <input type="text" aria-labelledby="labelbya" id="labelledbya">

        <label id="labelbyb">Label</label>
        <select aria-labelledby="labelbyb" id="labelledbyb"></select>

        <label id="labelbyc">Label</label>
        <textarea aria-labelledby="labelbyc" id="labelledbyc"></textarea>

        <!-- label for -->
        <label id="labela" for="labelledfora">Label</label>
        <input type="text" id="labelledfora">

        <label id="labelb" for="labelledforb">Label</label>
        <select id="labelledforb"></select>

        <label id="labelc" for="labelledforc">Label</label>
        <textarea id="labelledforc"></textarea>

        <input type="submit" aria-label="submit">Submit</input>

      </form>
    </div>

    <hr>


    <!-- lists -->
    <h1>Lists</h1>
    <div>
      <dl>
        <dt>Coffee</dt>
        <dd>Black hot drink</dd>
      </dl>

      <ul>
        <li>a</li>
        <li>b</li>
        <li>c</li>
      </ul>

      <ol>
        <li>a</li>
        <li>b</li>
        <li>c</li>
      </ol>
    </div>
    <div>
      <dl>
        <dt>Coffee</dt>
        <dd>Black hot drink</dd>
      </dl>

      <ul>
        <li>a</li>
        <li>b</li>
        <li>c</li>
      </ul>

      <ol>
        <li>a</li>
        <li>b</li>
        <li>c</li>
      </ol>
    </div>

    <hr>

    <!-- object -->
    <h1>Object</h1>
    <div>
      <object data="public/example_src/eg.swf">car speaker banner ad</object>
    </div>

    <hr>

    <!-- tables -->
    <h1>Tables</h1>
    <div>
      <table id="presentational-table" role="grid" class="table table-bordered">
        <tr>
          <td>aXe</td>
          <td>aXe</td>
        </tr>
      </table>
      <hr>
      <table class="table table-bordered">
        <tr>
          <td colspan="2">AXE</td>
        </tr>
        <tr>
          <td>aXe</td>
          <td>aXe</td>
        </tr>
      </table>

      <hr>

      <table id="table-a" role="grid" class="table table-bordered">
        <tr>
          <th colspan="2">AXE</th>
        </tr>
        <tr>
          <td>aXe</td>
          <td>aXe</td>
        </tr>
      </table>

      <hr>

      <table id="table-b" role="grid" class="table table-bordered">
        <tr>
          <td colspan="2">AXE</td>
        </tr>
        <tr>
          <td>aXe</td>
          <td>aXe</td>
        </tr>
      </table>

      <hr>

      <table id="table-c" class="table table-bordered">
        <tr>
          <th>AXE</th>
          <th>AXE</th>
          <th>AXE</th>
          <td>aXe</td>
        </tr>
        <tr>
          <td>aXe</td>
          <td>aXe</td>
          <td>aXe</td>
          <td>aXe</td>
        </tr>
        <tr>
          <td>aXe</td>
          <td>aXe</td>
          <td>aXe</td>
          <td>aXe</td>
        </tr>
        <tr>
          <td>aXe</td>
          <td>aXe</td>
          <td>aXe</td>
          <td>aXe</td>
        </tr>
      </table>

      <table id="table-d" class="table table-bordered">
        <tr>
          <th>AXE</th>
          <td>aXe</td>
          <td>aXe</td>
          <td>aXe</td>
        </tr>
        <tr>
          <th>AXE</th>
          <td>aXe</td>
          <td>aXe</td>
          <td>aXe</td>
        </tr>
        <tr>
          <th>AXE</th>
          <td>aXe</td>
          <td>aXe</td>
          <td>aXe</td>
        </tr>
        <tr>
          <td>aXe</td>
          <td>aXe</td>
          <td>aXe</td>
          <td>aXe</td>
        </tr>
      </table>

      <hr>

      <table class="table table-bordered">
        <tr>
          <th id="hi"> </th>
        </tr>
        <tr>
          <td headers="hi">goodbye</td>
        </tr>
      </table>
    </div>

    <hr>


    <!-- text -->
    <h1>Text</h1>
    <div>
      <p style="color:black">
        paragraph of text
        <a style="text-decoration:none; color:blue" href="#" id="fail1">
          Link text</a>
        <br>
        <a href="#" id="ignore10">Link!</a>
      </p>
    </div>

  </div>

</body>

</html>