<!DOCTYPE html>
<html lang="en">

<head>
  <title>TestBench.v.0.0.3</title>
  <meta charset="UTF-8">

  <!-- H59  -->
  <link rel="Contents" href="Contents.html" title="Table of Contents" />
  <link rel="Index" href="Index.html" title="Index" />
  <link rel="Prev" href="Chapter01.html" title="01. Why Volunteer?" />
  <link rel="Next" href="Chapter03.html" title="03. Who Volunteers?" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">


</head>

<body>

  <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

  <div role="main" id="content" class="container">
    <h1>HTML TestBench</h1>
    <hr>

    <h2>H2</h2>
    <a href="products.html">
      <img src="/images/home.svg" alt="" style="width: 25px"> Go to the products page
    </a>

    <a href="home.html">
      <img src="/images/home.svg" alt="home page icon" style="width: 25px"> Go to the home page
    </a>

    <hr>

    <h2>H4</h2>
    <form action="#" method="post">
      <table>
        <caption>Search for marriage records, the first column contains the search criteria of the groom, the second column the search
          criteria of of the bride</caption>
        <tr>
          <th>Search criteria</th>
          <th>Groom</th>
          <th>Bride</th>
        </tr>
        <tr>
          <th>First name</th>
          <td>
            <input type="text" size="30" value="" name="groomfirst" aria-label="First name of the groom" title="First name of the groom"
              tabindex="1">
          </td>
          <td>
            <input type="text" size="30" value="" name="bridefirst" aria-label="First name of the bride" title="First name of the bride"
              tabindex="4">
          </td>
        </tr>
        <tr>
          <th>Last name</th>
          <td>
            <input type="text" size="30" value="" name="groomlast" aria-label="Last name of the groom" title="Last name of the groom"
              tabindex="2">
          </td>
          <td>
            <input type="text" size="30" value="" name="bridelast" aria-label="Last name of the bride" title="Last name of the bride"
              tabindex="5">
          </td>
        </tr>
        <tr>
          <th>Place of birth</th>
          <td>
            <input type="text" size="30" value="" name="groombirth" aria-label="Place of birth of the groom" title="Place of birth of the groom"
              tabindex="3">
          </td>
          <td>
            <input type="text" size="30" value="" name="bridebirth" aria-label="Place of birth of the bride" title="Place of birth of the bride"
              tabindex="6">
          </td>
        </tr>

      </table>
      <input type="submit" value="Submit" />

    </form>

    <hr>


    <h2>H24</h2>
    <img src="http://placehold.it/350x150" usemap="#map1" alt="Areas in the library. Select an area for
  more information on that area." />
    <map id="map1" name="map1">
      <area shape="rect" coords="0,0,30,30" href="reference.html" alt="Reference" />
      <area shape="rect" coords="34,34,100,100" href="media.html" alt="Audio visual lab" />
    </map>

    <hr>

    <h2>H28</h2>
    <p>Sugar is commonly sold in 5
      <abbr title="pound">lb.</abbr> bags.</p>
    <p>Welcome to the
      <abbr title="World Wide Web">WWW</abbr>!</p>

    <hr>

    <h2>H30</h2>
    <a href="routes.html">
      Current routes at Boulders Climbing Gym
    </a>

    <hr>
    <h2>H32</h2>
    <form action="http://www.example.com/cgi/subscribe/" method="post">
      <br />
      <p>Enter your e-mail address to subscribe to our mailing list.</p>
      <br />
      <label for="address1">Enter email address:</label>
      <input type="text" id="address1" name="address1" />
      <button type="submit" value="Submit">Submit</button>
      <br />
    </form>

    <form action="http://www.example.com/cgi/subscribe/" method="post">
      <br />
      <p>Enter your e-mail address to subscribe to our mailing list.</p>
      <br />
      <label for="address2">Enter email address:</label>
      <input type="text" id="address2" name="address1" />
      <input type="image" src="/images/home.svg" style="width: 25px" alt="Submit button" />
      <br />
    </form>


    <hr>
    <h2>H33</h2>
    <a href="http://example.com/WORLD/africa/kenya.elephants.ap/index.html" title="Read more about failed elephant evacuation">
      Evacuation Crumbles Under Jumbo load
    </a>
    <hr>
    <h2>H34</h2>
    <p>the title is
      <cite dir="rtl">AN INTRODUCTION TO
        <span dir="ltr">c++</span>
      </cite> in arabic.</p>



    <hr>
    <h2>H35</h2>
    <applet code="tictactoe.class" width="250" height="250" alt="tic-tac-toe game">
      tic-tac-toe game
    </applet>


    <hr>
    <h2>H37</h2>
    <img src="/images/home.svg" alt="home page icon" style="width: 25px"> Go to the home page

    <hr>
    <h2>H40</h2>
    <dl title="Nautical terms">
      <dt>Knot</dt>
      <dd>
        <p>A
          <em>knot</em> is a unit of speed equaling 1 nautical mile per hour (1.15 miles per hour or 1.852 kilometers per hour).</p>
      </dd>
      <dt>Port</dt>
      <dd>
        <p>
          <em>Port</em> is the nautical term (used on boats and ships) that refers to the left side of a ship, as perceived by
          a person facing towards the bow (the front of the vessel).</p>
      </dd>
      <dt>Starboard</dt>
      <dd>
        <p>
          <em>Starboard</em> is the nautical term (used on boats and ships) that refers to the right side of a vessel, as perceived
          by a person facing towards the bow (the front of the vessel).</p>
      </dd>
    </dl>

    <hr>
    <h2>H43</h2>
    <table class="table table-bordered">
      <tr>
        <th rowspan="2" id="h">Homework</th>
        <th colspan="3" id="e">Exams</th>
        <th colspan="3" id="p">Projects</th>
      </tr>
      <tr>
        <th id="e1" headers="e">1</th>
        <th id="e2" headers="e">2</th>
        <th id="ef" headers="e">Final</th>
        <th id="p1" headers="p">1</th>
        <th id="p2" headers="p">2</th>
        <th id="pf" headers="p">Final</th>
      </tr>
      <tr>
        <td headers="h">15%</td>
        <td headers="e e1">15%</td>
        <td headers="e e2">15%</td>
        <td headers="e ef">20%</td>
        <td headers="p p1">10%</td>
        <td headers="p p2">10%</td>
        <td headers="p pf">15%</td>
      </tr>
    </table>

    <hr>
    <h2>H44</h2>
    <label for="firstname">First name:</label>
    <input type="text" name="firstname" id="firstname" />
    <br>

    <label for="fileinput">File:</label>
    <input type="file" name="fileinput" id="fileinput" />
    <br>

    <label for="formpassword">Password:</label>
    <input type="password" name="formpassword" id="formpassword" />
    <br>

    <label for="textareadescription">Description:</label>
    <textarea name="textareadescription" id="textareadescription"></textarea>
    <br>

    <label for="car-select">Select Car:</label>
    <select name="car-select" id="car-select">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    <br>


    <input type="checkbox" id="checkbox1" name="checkbox1" checked="checked">
    <label for="checkbox1">Checked</label>
    <br>

    <input type="radio" id="radio1" name="radio1" checked="checked">
    <label for="radio1">Radio</label>
    <br>


    <hr>
    <h2>H45</h2>
    <!-- The description is on the same page as the image -->
    <img src="http://localhost:3000/images/w3html.gif" alt="W3Schools.com" width="100" height="132" longdesc="#w3htmlExplained">
    <div id="w3htmlExplained">
      <h3>Image w3html.gif</h3>
      <p>Description of the image...</p>
    </div>


    <hr>
    <h2>H46</h2>
    <embed src="../movies/history_of_rome.mov" height="60" width="144" autostart="false">
    <noembed>
      <a href="../transcripts/transcript_history_rome.htm">Transcript of "The history of Rome"</a>
    </noembed>
    </embed>


    <hr>
    <h2>H48</h2>
    <ol>
      <li>Mix eggs and milk in a bowl.</li>
      <li>Add salt and pepper.</li>
    </ol>

    <ul>
      <li>Milk</li>
      <li>Eggs</li>
      <li>Butter</li>
    </ul>


    <hr>
    <h2>H49</h2>
    <em>Emphasized text</em>
    <br>
    <strong>Strong text</strong>
    <br>

    <hr>
    <h2>H53</h2>
    <object type="application/vnd.adobe.flash-movie" data="helloworld.swf">
      <p>Here is some text that describes the object and its operation.</p>
    </object>

    <hr>
    <h2>H58</h2>
    <blockquote lang="de">
      <p>
        Da dachte der Herr daran, ihn aus dem Futter zu schaffen, aber der Esel merkte, daß kein guter Wind wehte, lief fort und
        machte sich auf den Weg nach Bremen: dort, meinte er, könnte er ja Stadtmusikant werden.
      </p>
    </blockquote>

    <hr>
    <h2>62</h2>
    <p>When we talk about these guidelines, we often just call them
      <ruby>
        <rb>WCAG</rb>
        <rp>(</rp>
        <rt>Wuh-KAG</rt>
        <rp>)</rp>
      </ruby>.
    </p>




    <hr>
    <h2>H64</h2>
    <iframe src="http://localhost:3000/404" title="Main menu"></iframe>

    <hr>
    <h2>H65</h2>
    <input type="text" title="Type search term here" />
    <input type="submit" value="Search" />
    <hr>
    <h2>H67</h2>
    <img src="w3html.gif" width="20" height="20" alt="" title="" />



    <hr>
    <h2>H71</h2>
    <form action="http://example.com/adduser" method="post">
      <fieldset>
        <legend>Residential Address</legend>
        <label for="raddress">Address: </label>
        <input type="text" id="raddress" name="raddress" />
        <label for="rzip">Postal/Zip Code: </label>
        <input type="text" id="rzip" name="rzip" /> ...more residential address information...
      </fieldset>
      <fieldset>
        <legend>Postal Address</legend>
        <label for="paddress">Address: </label>
        <input type="text" id="paddress" name="paddress" />
        <label for="pzip">Postal/Zip Code: </label>
        <input type="text" id="pzip" name="pzip" /> ...more postal address information...
      </fieldset>
    </form>

    <hr>
    <h2>H73</h2>
    <table summary="Summary Text">
      <caption>Caption Text</caption>
      <tr>
        <th scope="col">State & First</th>
        <th scope="col">State & Sixth</th>
        <th scope="col">State & Fifteenth</th>
        <th scope="col">Fifteenth & Morrison</th>
      </tr>
      <tr>
        <td>4:00</td>
        <td>4:05</td>
        <td>4:11</td>
        <td>4:19</td>
      </tr>
    </table>

    <hr>
    <h2>H93</h2>
    <span id="span-a">Span a</span>
    <span id="span-b">Span b</span>

    <hr>
    <h2>H95</h2>
    <video width="400" height="300" controls>
      <source src="/example_src/MIB2.mp4" type="video/mp4">
      <track src="/example_src/MIB2-subtitles-pt-BR.vtt" kind="captions" srclang="en" label="Spannish 2" />
      <track src="/example_src/MIB2-subtitles-pt-BR.vtt" kind="descriptions" srclang="en" label="Spannish 3" />

    </video>


    <hr>
    <h2>ARIA1</h2>
    <form>
      <label for="aria-fname">First name</label>
      <input name="fname" type="text" id="aria-fname" aria-describedby="aria-describedby">
      <p id="aria-describedby">A bit of instructions for this field linked with aria-describedby. </p>
      <hr>
      <h2>ARIA2</h2>
      <p>
        <label for="test-aria1">Test (required)</label>
        <input name="ariaexample" id="test-aria1" aria-required="true" aria-label="test-aria1" />
      </p>
    </form>


    <hr>
    <h2>ARIA4</h2>
    <ul role="tree" tabindex="0">
      <li role="treeitem">Birds</li>
      <li role="treeitem">Cats
        <ul role="group">
          <li role="treeitem">Siamese</li>
          <li role="treeitem">Tabby</li>
        </ul>
      </li>
      <li role="treeitem">Dogs
        <ul role="group">
          <li role="treeitem">Small Breeds
            <ul role="group">
              <li role="treeitem">Chihuahua</li>
              <li role="treeitem">Italian Greyhound</li>
              <li role="treeitem">Japanese Chin</li>
            </ul>
          </li>
          <li role="treeitem">Medium Breeds
            <ul role="group">
              <li role="treeitem">Beagle</li>
              <li role="treeitem">Cocker Spaniel</li>
              <li role="treeitem">Pit Bull</li>
            </ul>
          </li>
          <li role="treeitem">Large Breeds
            <ul role="group">
              <li role="treeitem">Afghan</li>
              <li role="treeitem">Great Dane</li>
              <li role="treeitem">Mastiff</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <hr>
    <h2>ARIA6</h2>
    <div role="navigation" aria-label="Primary">
      <ul>
        <li>...a list of links here ...</li>
      </ul>
    </div>
    <div role="navigation" aria-label="Secondary">
      <ul>
        <li>...a list of links here ...</li>
      </ul>
    </div>

    <hr>
    <h2>ARIA7</h2>
    <p>Download
      <span id="aria7-label" tabindex="-1">This link does this</span>:
      <a aria-labelledby="aria7-label" href="#" id="aria7-link">Link</a>
    </p>

    <hr>
    <h2>ARIA8</h2>
    <p>Baby Mayor: Seminole voters elect the city's youngest mayor ever by voting in 3 year old Willy "Dusty" Williams in yesterday's
      mayoral election.
      <a href="babymayor.html" aria-label="Read more about Seminole's new baby mayor">[Read more...]</a>
    </p>

    <h2>ARIA9</h2>
    <p>Download
      <span id="report-title" tabindex="-1">2012 Sales Report</span>:
      <a aria-labelledby="report-title pdf" href="#" id="pdf">PDF</a> |
      <a aria-labelledby="report-title doc" href="#" id="doc">Word</a> |
      <a aria-labelledby="report-title ppt" href="#" id="ppt">Powerpoint</a>
    </p>

    <hr>
    <h2>ARIA10</h2>
    <div role="img" aria-labelledby="star_id">
      <img src="/images/fullstar.png" alt="" />
      <img src="/images/fullstar.png" alt="" />
      <img src="/images/fullstar.png" alt="" />
      <img src="/images/fullstar.png" alt="" />
      <img src="/images/emptystar.png" alt="" />
    </div>

    <div id="star_id">4 of 5</div>

    <hr>
    <h2>ARIA12</h2>
    <div role="heading" aria-level="7">Jonagold</div>
    <p>Jonagold is a cross between the Golden Delicious and Jonathan varieties...</p>

    <hr>
    <h2>ARIA15</h2>
    <img src="/images/fullstar.png" alt="Star" aria-describedby="star-description">
    <p id="star-description">This a star</p>

    <hr>
    <h2>ARIA16</h2>
    <label id="l1" for="f3">Notify me</label>
    <select name="amt" id="f3" aria-labelledby="l1 f3 l2">
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
    <span id="l2" tabindex="-1">days in advance</span>

    <hr>
    <h2>ARIA17</h2>
    <div role="group" aria-labelledby="ssn1">
      <span id="ssn1">Social Security#</span>
      <span style="color: #D90D0D;"> * </span>
      <input size="3" type="text" aria-required="true" title="First 3 digits" />-
      <input size="2" type="text" aria-required="true" title="Next 2 digits" />-
      <input size="4" type="text" aria-required="true" title="Last 4 digits" />
    </div>
    <hr>
  </div>
</body>

</html>