html,
body {
  height: 100%;
}

.hide {
  display: none;
}

.c-container,
.c-row,
.c-col,
.disabled,
.section-title {
  height: 100%
}

.disabled {
  pointer-events: none;
}

.c-col {
  display: block;
  float: left;
}

.right-col {
  float: right
}

.c-container {
  padding: 0px;
}

.source-row {
  font-weight: bolder;
  background: lightgrey
}

.section-title {
  display: block;
  width: 50px;
}

.section-title h1 {
  pointer-events: inherit;
  white-space: nowrap;
  transform: rotate(270deg) translateX(-750%);
}

.disabled .section-title h1 {
  margin-top: 35px;
}

.section-title i {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 18pt;
  margin-top: 10px;
}

.section-title,
.section-content {
  float: left
}

.disabled {
  opacity: 0.3;
}

.disabled .section-content {
  display: none
}

.disabled i {
  display: none
}

.section-content {
  padding: 15px;
}

.section-content .card {
  margin: 10px 0px;
}

.stat-card {
  width: 200px;
  height: 180px;
  float: left;
  margin: 10px 10px 10px 0 !important;
  text-align: center
}

.stat-card .card-body {
  font-size: 3em;
  font-weight: bold;
}

.stat-card .card-body i {
  font-size: 2.5em;
}

.stat-card-small {
  width: 100px;
  height: 90px;
  float: left;
  margin: 0 5px 0 0 !important;
  text-align: center
}

.stat-card-small .card-header,
.stat-card-small .card-body {
  padding: 1px;
}

.stat-card-small .card-body {
  font-size: 2em;
  font-weight: bold;
}

#source-valid .card-body {
  padding: 1px;
}

#source-analysis-options,
#mutant-analysis-options {
  padding-right: 10px;
}

#loading-spinner {
  text-align: center;
  font-size: 26pt;
  width: 100%;
  display: block;
}

.canvas-holder {
  position: relative;
  width: 52vw;
  min-width: 500px;
}

.canvas-holder-small {
  position: relative;
  width: 40vw;
  min-width: 400px;
  float: left;
}

.tab-pane>table>tbody>tr>th {
  width: 100px;
}