<% if(saved){%>
<div style="display:flex">
    <div class="card bg-success text-white mb-3 stat-card-small" >
      <div class="card-header">Live</div>
      <div class="card-body"><%=saved.analysis.all.axe.live%></div>
    </div>
    <div class="card bg-danger text-white mb-3 stat-card-small" >
      <div class="card-header">Killed</div>
      <div class="card-body"><%=saved.analysis.all.axe.killed%></div>
    </div>
    <div class="card bg-dark text-white mb-3 stat-card-small" >
      <div class="card-header">Total</div>
      <div class="card-body"><%=saved.analysis.all.axe.total%></div>
    </div>
     <div class="card bg-info text-white mb-3 stat-card-small" >
      <div class="card-header">Kill Score</div>
      <div class="card-body"><%=(saved.analysis.all.axe.killed /saved.analysis.all.axe.total * 100).toFixed(0) + "%"%></div>
    </div>
</div>
<br>
    <span id="loading-spinner" data-find-me="true"> <i class="fas fa-spinner fa-spin text-primary"></i></span>
    
    <!--<div class="canvas-holder-small">
        <canvas id="classes-bar-chart"></canvas>
      </div>-->

       <div class="canvas-holder">
        <canvas id="sub-classes-bar-chart"></canvas>
      </div>

    <hr>
    <h3>Export to CSV</h3>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-primary btn-md" id="btnExportCSVAll">All Mutants</button>
      <button type="button" class="btn btn-outline-primary btn-md" id="btnExportCSVTech">Techniques</button>
      <button type="button" class="btn btn-outline-primary btn-md" id="btnExportCSVSCT">Success Criteria (with Techniques)</button>
      <button type="button" class="btn btn-outline-primary btn-md" id="btnExportCSVSCWT">Success Criteria (without Techniques)</button>
    </div>

<%}else{%>
    <h3>No data yet</h3>
<%}%>