<!DOCTYPE html>
<html lang="en">

<head>
  <title>Links</title>
</head>

<body>
  <div role="main">
    <a href="#" id="a">This link has text</a>
    <a href="#" id="b" aria-label="link text"></a>

    <div id="linklabel">Text</div>
    <a href="#" id="c" aria-labelledby="linklabel"></a>

    <span role="link" href="#" id="d">This link has text</span>
    <span role="link" href="#" id="e" aria-label="link text"></span>
    <span role="link" href="#" id="f" aria-labelledby="linklabel"></span>

  </div>
</body>

</html>